* {
    box-sizing: border-box;
}
body {
    margin:0;
    /*background-color: blue;*/
}
#outer {
    height: 100%;
}
.nav {
    background-color: #337ab7 !important;
    width: 100%;
    height: 85px;
    margin: 0;
    padding: 10px !important;
    background: url('../img/mixed_logo.png') no-repeat center;
    background-size: contain;
}
.nav li{
    display: inline-block;
    margin-right: 15px;
    color: white !important;
    text-shadow: 1px 1px #aaa;
    vertical-align: text-top;
    text-decoration: none;
}
.nav a, a:visited, a:hover, a:active {
    text-decoration:none !important;
    color: white !important;
}
.nav a:hover{
    font-size: 19px;
}
.nav h1 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
.stepper {
    position: absolute;
    right:0;
    background-color: white;
    opacity: .9;
    width:200px;
    height:100%;
    overflow-y:scroll;
    clear:left;
    /*background-color: #FAFAFA;*/
    -webkit-box-shadow: -2px 2px 4px 0px rgba(110,108,110,1);
    -moz-box-shadow: -2px 2px 4px 0px rgba(110,108,110,1);
    box-shadow: -2px 2px 4px 0px rgba(110,108,110,1);
}
.large {
    width:600px;
}
#app {
    height:100%;
}
#main {
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
    background-image: url('http://il3.picdn.net/shutterstock/videos/9346376/thumb/1.jpg');
    background-size: cover;

}
#ratesButton {
    display: block;
}
#rateTable {
    margin-right:200px;
    width: calc(100% - 200px) !important;
    overflow-x:scroll;
    background-color:  white;
    opacity: .8;
}
.pagination li{
    opacity:1;
    background-color: #FD7700;
}
#selector {
    margin-left: 1rem;
}
#quote {
    padding: 10px;
    font-size: 16px;
}
.step {
    background-color: #FD7700;
    width:100%;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
/* Form styling */

.field {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

label {
  display: block !important;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #3a3a3a;
}

input {
  appearance: none;
  background-color: #FAFAFA;
  border: 1px solid #cdcdcd;
  font-size: 1rem;
  padding: 0.5rem;
  &:focus {
    outline: 2px solid #337ab7;
  }
}

button {
  appearance: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: #337ab7;
  color: white !important;
  border: none;
  border-radius: 3px;
  margin: 1rem !important;
  &:hover {
    opacity: 0.8;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

body,
html {
  font-size: 14px !important;
  height: 100%;
  width: 100%;
  margin: 0;
}
